# 01.intro

## 단축키

- ctrl + enter : 지금 셀 실행
- shift + enter : 지금 셀 실행 & 아래로 이동
- alt + enter : 지금 셀 실행 & 아래에 새로운 셀 추가

In [ ]:
# 주석을 달거면 #을 앞에 넣으면 된다.

## 1. 변수

변수 이름 `=` 값 (값을 변수 이름에 저장 시킨다.)

- 변수 이름은 어떤 이름이든 상관 없음.
- 영어,숫자,`_`를 이용하여 선언
- 키워드는 사용 불가

In [ ]:
a = 10

In [ ]:
a

In [ ]:
# 코드 순서가 꼬였을 땐 위에 kernel에서 위에서 3번째 누르면 된다.

In [ ]:
import keyword
keyword.kwlist

## 1.1 number

In [ ]:
a = 1

In [ ]:
a

In [ ]:
type(a)

In [ ]:
b = 1.2

In [ ]:
type(b)

In [ ]:
c = 1-4j

In [ ]:
type(c)

In [ ]:
c.imag

In [ ]:
c.real

### 1.2 Boolean
`True`, `False`로 이루어진 타입

In [ ]:
a = True

In [ ]:
type(a)

- 조건을 걸 때, bool 타입을 사용 ex. 맞으면 `True`출력

### 1.3 None
데이터가 없음을 의미

In [ ]:
b = None

In [ ]:
type(b)

### 1.4 String
- 문자열은 `'`, `"`를 이용하여 표현

In [ ]:
a = 'hello'

In [ ]:
type(a)

In [ ]:
b = "world"

In [ ]:
type(b)

- 동작에는 상관없지만 문자열을 `'` or `"` 둘 중 하나를 통일성 있게 사용해야함

In [ ]:
age = input()

In [ ]:
age

In [ ]:
type(age)

- `input`으로 받아온 데이터는 `문자열`이다.

In [ ]:
print('안녕하세요. 사람입니다.')

In [ ]:
print("안녕하세요. '사람'입니다.")

In [ ]:
print(' 안녕하세요. \'사람\'입니다')

In [ ]:
a = '''
여기는 \n문자열입니다.
여러\t줄을 작성 할 수 있지요.
'''

In [ ]:
a

In [ ]:
print(a)

- `\n`은 다음 줄로 내리기
- `\t`은 tap

### string interpolation

- %-fomatting
- str.format()
- f-string

In [ ]:
age = 10

In [ ]:
print('홍길동은 %s살이다.' % age)

In [ ]:
print('홍길동은 {}살입니다.' .format(age))

In [ ]:
print(f'홍길동은 {age}살입니다.')

# 2.연산자

## 2.1 산술연산자

In [ ]:
a = 2
b = 3

In [ ]:
print(a+b)
print(a-b)
print(a*b)
print(a/b)

In [ ]:
a+b

In [ ]:
#나눈 몫
print(a//b)
# 나눈 나머지
print(a%b)

#mod (X,y)라 할 때, x=나눈 몫 y=나눈 나머지
print(divmod(a,b))

### 2.2 비교연산자

In [ ]:
a = 5
b = 10

In [ ]:
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)

In [ ]:
print(a==b)
print(a!=b)

In [ ]:
print('hi'=='hi')
print('Hi'=='hi')

### 2.3 논리연산자
- `and`: `양쪽 모두가` True일때, True 반환
- `or`: 둘 중 `하나라도` True이면,  True 반환

In [ ]:
print(True and True)
print(True and False)
print(False and True)
print(False and False)

In [ ]:
print(True or True)
print(True or False)
print(False or True)
print(False or False)

In [ ]:
print(not True)

a=True
print(not a)

In [ ]:
#단축평가(and)
print(3 and 5)
print(3 and 0)
print(0 and 5)
print(0 and 0)

In [ ]:
#단축평가(or)
print(3 or 5)
print(3 or 0)
print(0 or 5)
print(0 or 0)

### 2.4 복합연산자

In [7]:
a = 2
b = 3

In [8]:
a = a + b
a = a - b
a = a * b
a = a / b
a = a // b
a = a % b
a = a ** b

In [9]:
a

0.0

In [10]:
a += b
a -= b
a *= b
a /= b
a //= b
a %= b
a **= b
print(a)

0.0

### 2.5 기타연산자

In [11]:
a = 'hi'
b = 'hello'

In [13]:
# concatenation
a + b

'hihello'

In [15]:
a = [1, 2, 3]
b = [9, 8, 7]

In [16]:
a+b

[1, 2, 3, 9, 8, 7]

- 에러가 났을 땐 보통 더해야 하는 두 연산자의 타입이 다른 경우다

In [19]:
# containmnet
print('a' in 'apple')
print('z' in 'apple')

True
False

In [20]:
print(1 in [1,2,3])
print(100 in [1,2,3])

True
False

In [21]:
a = 123123
b = 123123
print(a is b)

False

In [22]:
a = 10
b = 10
print(a is b)

True

- `is`는 값이 같다를 보여주는 것이 아닌 RAM 안에서 같은 공간에 있냐라는 것을 보여주는 것이다. ex)123123은 a와b의 메모리 주소가 달라 False가 출력
- 파이썬은 자주 사용하는 것은 일정 영역을 할당하여(약 -5~256) 이 데이터는 같은 메모리 주소이므로 True가 출력

#### 연산자 우선순위

0. ()를 통해 그룹
1. **
2. 산술연산자(*, /)
3. 산술연산자(+, -)
4. 비교연산자, is, in
5. not
6. and, or

In [26]:
print(-3**4)
print((-3)**4)

-81
81

# 3. 형변환

### 3.1 암시적 형변환

In [38]:
a = True
b = False
c = 1

In [39]:
print(a + c)
print(b + c)
print(a + b)

2
1
1

In [40]:
int_num = 3
float_num = 3.3
complex_num = 3 + 3j

In [41]:
print(int_num + float_num)
print(int_num + complex_num)

6.3
(6+3j)

### 3.2 명시적 형변환

In [46]:
a = 1
b = '번'

In [47]:
a+b

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [48]:
print(str(a)+b)

1번

In [49]:
a = '100'

In [51]:
print(type(int(a)))

<class 'int'>

In [54]:
age = input()
print(age)
print(type(int(age)))

 123123

123123
<class 'int'>

In [55]:
a = '3.3'

In [61]:
type(int(a))

ValueError: invalid literal for int() with base 10: '3.3'

In [62]:
type(float(a))

float

In [63]:
a = 1
b = 0
c = 100

In [66]:
print(bool(a))
print(bool(b))
print(bool(c))

True
False
True

In [67]:
print(bool(''))
print(bool('a'))

False
True

In [68]:
print(bool([]))
print(bool([1,2,3]))

False
True

# 4. 시퀀스 자료형

시퀀스는 데이터의 순서대로 나열된 자료구조. (순서대로 나열되어있다는 것은 정렬된것과는 다르다.)

1. 리스트
2. 튜플
3. 레인지
4. 문자열

### 4.1 List(배열)
- 선언: 변수이름 = [value1, value2, value3]
- 접근 : 변수이름[index]

In [76]:
l = []
print(l)
print(type(l))

[]
<class 'list'>

In [78]:
location = ['서울', '대전', '부산']
print(location)
print(type(location))

print(location[2])
print(location[-1])
print(location[-3])

location[2] = '제주'
print(location)

['서울', '대전', '부산']
<class 'list'>
부산
부산
서울
['서울', '대전', '제주']

### 4.2 Tuple

- 선언 : 변수이름 = (vlaue1, value2, value3)
- 접근 : 변수이름[index]
- List와 유사하지만 `수정불가능(immutalbe)`하다.

In [81]:
t = (1, 2, 3)
print(t)
print(type(t))
print(t[2])

(1, 2, 3)
<class 'tuple'>
3

In [83]:
t[2] = 100

TypeError: 'tuple' object does not support item assignment

In [91]:
result = divmod(9, 4)
print(type(result))
print(result[0])

<class 'tuple'>
2

In [93]:
x, y = (1, 2)
print(x, y)

x, y = (y, x)
print(x, y)

1 2
2 1

### 4.3 range

- range(n) : 0부터 n-1까지 범위
- range(n, m) : n부터 m-1까지 범위
- range(n, m, s) : n부터 m-1까지 범위, +s 만큼 증가하는 범위

In [95]:
r = range(5)
print(r)
print(type(r))

range(0, 5)
<class 'range'>

In [96]:
r = range(5, 15)
print(r)

range(5, 15)

In [97]:
r = range(5, 15, 2)
print(r)

range(5, 15, 2)

In [99]:
list(r)

[5, 7, 9, 11, 13]

### 4.4 String

기본 데이터 구조 참고

### 4.5 시퀀스에서 사용 가능한 연산.함수

In [102]:
my_list = [1,2,3,4,5]
my_tuple = (11,22,33,44,55)
my_range = range(1, 10, 2)
my_string = '일이삼사오'

In [105]:
# indexing
print(my_list[1])
print(my_tuple[1])
print(my_range[1])
print(my_string[1])

2
22
3
이

In [108]:
# slicing
print(my_list[1:3]) #[n:m]이면 n번째부터 m-1번째까지 출력
print(my_tuple[1:3])
print(my_range[1:3])
print(my_string[1:3])

[2, 3]
(22, 33)
range(3, 7, 2)
이삼

In [111]:
print(my_range[2:7:2])
print(my_list[1:4:2])

range(5, 11, 4)
[2, 4]

In [113]:
print(my_list[:3])
print(my_list[3:])

[1, 2, 3]
[4, 5]

In [119]:
# in
print(1 in my_list)
print(11 in my_tuple)
print(2 in my_range)
print('일' in my_string)

True
True
False
True

In [123]:
# not in
print( 11 not in my_list)
print( 11 not in my_tuple)
print( 11 not in my_range)
print( '일' not in my_string)

True
False
True
False

In [129]:
# concatenation
print(my_list + [1,2,3,4,5])
print(my_tuple + (1,2,3))

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
(11, 22, 33, 44, 55, 1, 2, 3)

In [133]:
# *
print(my_string * 3)
print(my_list * 3)

print([[0]*10]*10)

일이삼사오일이삼사오일이삼사오
[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]]

In [134]:
len(my_list)

5

In [136]:
min(my_tuple)

11

In [137]:
max(my_range)

9

In [139]:
my_list.count(3) #내가 원하는 값이 몇 개가 있는지에 대한 함수

1

# 5. 시퀀스데이터가 아닌 자료구조

### 5.1 set

수학에서 사용하는 집합과 동일하게 처리(중복된 값이 없음)

- 선언 : 변수이름 = {value1, value2, value3}

In [141]:
my_set_a = {1,2,3,4,5}
my_set_b = {1,3,5,7,9}

In [144]:
print(my_set_a - my_set_b)
print(my_set_a | my_set_b) #or
print(my_set_a & my_set_b) #and

{2, 4}
{1, 2, 3, 4, 5, 7, 9}
{1, 3, 5}

In [146]:
my_list = [1,2,3,4,5,6,6,3,3,1,2,4,1]
print(set(my_list))

{1, 2, 3, 4, 5, 6}

### 5.2 dictionary

- 선언 : 변수이름 = {key1 : value1, key2: value2, key3: value3}
- 접근 : 변수이름[key]
- dictionary는 key와 value가 쌍으로 이루어져있다.
- key에는 immutable한 모든 값을 사용가능. (불변값 : string, integer ...)
- value에는 모든 데이터 가능. (list, dic도 가능)

In [147]:
my_dict = {'서울': '02', '경기': '031'}
my_dict['서울']

'02'

In [152]:
dict_a = {
    'name': 'yoonseong',
    'age': '24',
    'location': 'Incheon',
    'numbers': [1,2,3,4,5],
    'friends': {
        'a': 10,
        'b': 11,
    },
}

print(dict_a['age'])
print(dict_a['numbers'][3])
print(dict_a['friends']['b'])

24
4
11

In [154]:
dict_a.keys()

dict_keys(['name', 'age', 'location', 'numbers', 'friends'])

In [155]:
dict_a.values()

dict_values(['yoonseong', '24', 'Incheon', [1, 2, 3, 4, 5], {'a': 10, 'b': 11}])

##  데이터 타입

1. Number
2. Boolean
3. String

## 자료구조

- 시퀀스 자료
1. [List] : mutable
2. 2.(Tuple) : immutable
3. 3.range() : immutalbe
4. 4.'String' : immutable

  
- 시퀀스가 아닌 자료형
1. {Set} : mutable
2.  {Dict : ionary} : mutable