## 조건문(if문)

```python
if<조건식>:
    if의 조건식이 참인 경우 실행하는 코드
else:
    if의 조건식이 거짓인 경우 실행하는 코드
```


1. `if` 문은 반드시 참/거짓을 판단 할 수 있는 `조건식`과 함께 사용한다.
2. `조건식`이 참인경우 `:` 이후의 문장을 실행한다.
3. `조건식이`이 거짓인경우 `else:` 이후의 문장을 실행한다.

In [3]:
my_string = input()

if my_string =='12/25':
    print('크리스마스입니다.')
else:
    print('크리스마스가 아닙니다.')

 12/12

크리스마스가 아닙니다.

In [10]:
num = input('숫자를 입력해주세요 : ')

num = int(num)

if num%2==0:
    print('짝수입니다.')
else:
    print('홀수입니다.')

숫자를 입력해주세요 :  123

홀수입니다.

In [11]:
num = input('숫자를 입력해주세요 : ')

num = int(num)

if num%2==1:
    print('홀수입니다.')
else:
    print('짝수입니다.')

숫자를 입력해주세요 :  123

홀수입니다.

In [13]:
# num을 2로 나눈 나머지는 0,1 두 가지 경우가 있다.
#if 조건식에 0, 1은 자동형변환이 일어나 False, True로 변환된다.
num = input('숫자를 입력해주세요 : ')

num = int(num)

if num%2: #num%2==True와 같은 말이다.
    print('홀수입니다.')
else:
    print('짝수입니다.')

숫자를 입력해주세요 :  2

짝수입니다.

### elif

```python
if<조건식>:
    if 조건이 참인 경우 실행
elif<조건식>
    elif 조건이 참인 경우 실행 
...
else:
    위 조건이 모두 거짓인 경우 실행
```

In [16]:
score = int(input())

# 90점 이상 A
# 80점 이상 B
# 70졈 이상 C
# 나머지 F

if score>=90:
    print('A입니다.')
    if score>=95:
        print('good')
elif score>=80:
    print('B입니다.')
elif score>=70:
    print('C입니다.')
else:
    print('F입니다.')

 97

A입니다.
good

### 조건표현식

```python
    true_value if <조건식> else false_value
```

In [2]:
print('true')if -1 <0 else print('false')

true

In [3]:
num = -5

if num >= 0:
    value = num
else:
    value = 0

print(value)

0

In [6]:
num= -5
value = num if num>=0 else 0
print(value)

0

In [14]:
num = 5
result = '홀수' if num % 2 == 1 else '짝수'
print(result)

홀수

## 반복문

### while문
```python
while<조건식>:
    실행할 코드
```

In [1]:
a = 0

while a < 5:
    print(a)
    a += 1

0
1
2
3
4

In [2]:
greeting = ''

while greeting != '안녕':
    greeting = input('안녕이라고 하세요. :')

안녕이라고 하세요. : 123
안녕이라고 하세요. : 안녕

### for
정해진 범위 내의 반복

```python
for variable in sequence:
    실행할 코드
```

In [3]:
numbers = [1,2,3,4,5]

for number in numbers:
    print(number)

1
2
3
4
5

In [5]:
word = input('단어를 입력하세요 :')

for char in word:
    print(char)

단어를 입력하세요 : holy moly

h
o
l
y

m
o
l
y

In [6]:
for i in range(5):
    print(i)

0
1
2
3
4

In [7]:
for i in (1,2,3,4,5):
    print(i)

1
2
3
4
5

In [9]:
# 1~30까지 숫자 중 홀수만 출력

for i in range(31):
    if(i%2 == 1):
        print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29

In [34]:
numbers = range(31)

result = []

for number in numbers:
        if number %2 == 1:
            result.append(number)
print(result)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

In [45]:
menus = ['라면', '햄버거', '치킨', '돈가스', '튀김']

for menu in menus:
    print(menu)

라면
햄버거
치킨
돈가스
튀김

In [46]:
for i in range(len(menus)):
    print(menus[i])

라면
햄버거
치킨
돈가스
튀김

In [52]:
for item in enumerate(menus): #첫번째 행은 인덱스 번호, 두 번째 행은 배열에 입력된 값
    print(item)

(0, '라면')
(1, '햄버거')
(2, '치킨')
(3, '돈가스')
(4, '튀김')

In [53]:
for index, menu in enumerate(menus):
    print(index, menu)

0 라면
1 햄버거
2 치킨
3 돈가스
4 튀김

### dictionary 반복

1. for key in dict:
2. for key in dict.keys():
3. for value in dict.values():
4. for key, value in dict.items():

In [59]:
info = {
    'name': 'yoonseong',
    'location': 'INCHEON',
    'phone': '010-1234-1234'
}

In [60]:
for key in info:
    print(key)
    print(info[key])

name
yoonseong
location
INCHEON
phone
010-1234-1234

In [61]:
blood_type = {
    'A': 5,
    'B': 4,
    'O': 2,
    'AB': 3,
}

In [63]:
print('혈액형 목록은 다음과 같습니다.')
for key in blood_type:
    print(key)

혈액형 목록은 다음과 같습니다.
A
B
O
AB

In [64]:
print('혈액형 목록은 다음과 같습니다.')
for key in blood_type.keys():
    print(key)

혈액형 목록은 다음과 같습니다.
A
B
O
AB

In [71]:
result = 0

for value in blood_type.values():
    # print(value)
    result = result + value
    
    
print(f'총인원은 {result}명입니다.')

총인원은 14명입니다.

In [72]:
blood_type.items() #items = key와value가 동시에 포함된 list

dict_items([('A', 5), ('B', 4), ('O', 2), ('AB', 3)])

In [74]:
for item in blood_type.items():
    print(item[0])
    print(item[1])

A
5
B
4
O
2
AB
3

In [75]:
for key, value in blood_type.items():
    print(f'{key}형은 {value}명입니다.')

A형은 5명입니다.
B형은 4명입니다.
O형은 2명입니다.
AB형은 3명입니다.

### Break

반복문을 종료시키는 키워드

In [82]:
for i in range(100):
    print(i)
    if i > 10:
        print('10을 넘었습니다.')
        break

0
1
2
3
4
5
6
7
8
9
10
11
10을 넘었습니다.

In [87]:
rice = ['보리', '보리', '보리', '쌀', '보리', '보리', '보리', '보리']

for i in rice:
    print(i)
    if i == '쌀':
        print('잡았다!')
        break

보리
보리
보리
쌀
잡았다!

#### continue
continue 이후의 코드를 실행하지 않고 다음 반복을 실행

In [90]:
for i in range(10): #continue를 만나면 하던 일을 멈추고 다시 for문으로 올라가는 명령어
    if i % 2:
        continue
    print(i)

0
2
4
6
8

In [97]:
age = [10, 12, 23, 32, 31]

for a in age:
    if a <20:
        continue
    print(f"{a}살은 성인입니다.")

23살은 성인입니다.
32살은 성인입니다.
31살은 성인입니다.

#### else
else문은 끝가지 반복이 진행이 된 후 실행한다. (break를 만나지 않은 경우)

In [100]:
for i in range(10):
    print(i)
    if i > 10:
        break

else:
    print('break 못만남')

0
1
2
3
4
5
6
7
8
9
break 못만남

In [101]:
numbers = [1, 2, 3, 4, 5]
print(1 in numbers)
print(99 in numbers)

True
False

In [107]:
numbers = [1,2, 3, 4, 5]
target = 5

for num in numbers:
    if num == target:
        print('True')
        break

else:
    print('False')

True

#### pass

In [109]:
if True:
    pass #임시로 패스를 넣어서 구조를 만들어놓고 나중에 구조를 완성시킬 때 사용 (like 주석)

#### match
```python
match value:
    case 조건:
        실행할 조건
    case 조건:
        실행할 조건
```

In [112]:
status = 499

match status:
    case 400:
        print('Bad request')
    case 404:
        print('not found')
    case _:
        print('something is wrong')

something is wrong