In [1]:
print("hello")

hello

In [3]:
''.join(['일', '이', '삼']) # 앞에있는 친구의 세부적 개념

'일이삼'

In [6]:
dir('hello')

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

# 문자열 메소드

In [7]:
a = 'hello my name is yoonseong'

In [8]:
print(a)

hello my name is yoonseong

In [9]:
print(a[0])

h

In [10]:
a[0] = 'H'

TypeError: 'str' object does not support item assignment

- string(문자열)의 원리 덮어쓰기는 되는데 수정은 안된다 imumutable하다.

In [13]:
a.capitalize() #method는 리턴값을 가지는데 이때 a값은 유지된다.
print(a)

hello my name is yoonseong

In [14]:
a = a.capitalize()
print(a)

Hello my name is yoonseong

In [15]:
a.title()

'Hello My Name Is Yoonseong'

In [16]:
a.upper()

'HELLO MY NAME IS YOONSEONG'

In [17]:
a.lower()

'hello my name is yoonseong'

In [18]:
print(a)

Hello my name is yoonseong

In [23]:
my_list = ['hi', 'my', 'name']
'??'.join(my_list)

'hi??my??name'

In [30]:
### .strip([chars]) 대괄호는 넣어도 되고 안넣어도 된다.

my_string='                    hello\n       '
print(my_string)
print(my_string.strip())

my_string2 = 'hihihihihihihellohihihihihihihi'
print(my_string2.strip('hi'))
print(my_string2.lstrip('hi'))
print(my_string2.rstrip('hi'))

                    hello

hello
ello
ellohihihihihihihi
hihihihihihihello

In [34]:
# .replace(old, new[, count]) 찾아바꾸기 기능
a = 'wooooow'
a.replace('o', '!', 3)

'w!!!oow'

In [42]:
# .find(x) 찾는게 없으면 -1 반환
a = 'apple'
print(a.find('p'))
print(a.find('z'))


# 아래 코드가 find의 기능을 구현한 것
# for i in range(len(a)):
#     if 'p' == a[i]:
#         print(i)
#         break
#     else:
#         print(-1)

1
-1
1

In [43]:
# .index(x) 찾는게 없으면 실행 오류
a = 'apple'
print(a.index('a'))

0

In [45]:
# .split(x) x값이 없으면 공백을 기준으로 데이터를 자르고 기준이 있으면 기준에 따라 데이터를 자름
a= 'my_name_is'
a.split('_')

['my', 'name', 'is']

In [47]:
# .count(x)
'wooooooooow'.count('o')

9

# 리스트 메소드

In [62]:
# . append(x) 
numbers = [1, 5, 2, 4, 6, 1]
numbers.append(3)
print(numbers)

[1, 5, 2, 4, 6, 1, 3]

In [56]:
# .extend(iterable)
a = [99, 100]

numbers.extend(a)
print(numbers)
print(numbers + a)

[1, 5, 2, 4, 6, 1, 3, 99, 100, 99, 100]
[1, 5, 2, 4, 6, 1, 3, 99, 100, 99, 100, 99, 100]

In [57]:
# .insert(idx, x)
numbers.insert(3, 3.5)
print(numbers)

[1, 5, 2, 3.5, 4, 6, 1, 3, 99, 100, 99, 100]

In [58]:
# .remove(x) x 값이 데이터에 없으면 오류 발생
numbers.remove(3.5)
print(numbers)

[1, 5, 2, 4, 6, 1, 3, 99, 100, 99, 100]

In [61]:
# .pop() 아무것도 안넣으면 맨 뒤 데이터 하나를 삭제, 삭제한 데이터는 리턴을 하여 내가 지운 값에 대한 확인을 할 수 있다.
numbers.pop()
print(numbers)

numbers.pop(0)
print(numbers)

[1, 5, 2, 4, 6, 1, 3, 99]
[5, 2, 4, 6, 1, 3, 99]

In [65]:
# .sort()
print(numbers)

numbers.sort()
print(numbers)
numbers.sort(reverse=True)
print(numbers)

[1, 1, 2, 3, 4, 5, 6]
[1, 1, 2, 3, 4, 5, 6]
[6, 5, 4, 3, 2, 1, 1]

In [68]:
numbers = [1, 5, 2, 4, 6, 1]
print(sorted(numbers))
print(numbers)

[1, 1, 2, 4, 5, 6]
[1, 5, 2, 4, 6, 1]

In [72]:
# .reverse()
numbers = [1, 5, 2, 4, 6, 1]
print(numbers)
numbers.reverse()
print(numbers)
numbers = numbers[: : -1]
print(numbers)

[1, 5, 2, 4, 6, 1]
[1, 6, 4, 2, 5, 1]
[1, 5, 2, 4, 6, 1]

##  list copy

In [73]:
origin_list = [1, 2, 3]
copy_list = origin_list

In [74]:
print(origin_list)
print(copy_list)

[1, 2, 3]
[1, 2, 3]

In [75]:
copy_list[0] = 100

In [76]:
print(origin_list)
print(copy_list)

[100, 2, 3]
[100, 2, 3]

In [78]:
a = [1, 2, 3]
# b = list(a)
b = a[:]

b[0] = 100
print(a)
print(b)

[1, 2, 3]
[100, 2, 3]

In [79]:
a = [1, 2, [99, 100]]
b=a[:]
# b = list(a)

b[2][1] = 1000
print(a)
print(b)

[1, 2, [99, 1000]]
[1, 2, [99, 1000]]

In [80]:
import copy #리스트 안에 또 리스트가 있을 때 원본 데이터를 남기고  copy를 할 때 사용
a = [1, 2, [99, 100]]
b = copy.deepcopy(a)

b[2][1] = 1000
print(a)
print(b)

[1, 2, [99, 100]]
[1, 2, [99, 1000]]

## list comprehension

In [82]:
numbers = list(range(1, 11))
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [84]:
# 세제곱 만들기
result = []

for number in numbers:
    result.append(number**3)

print(result)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [85]:
result2 = [number**3 for number in numbers]
print(result2)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [86]:
# 짝수만 고르기
even_list = []

for i in numbers:
    if i % 2 == 0:
        even_list.append(i)

print(even_list)

[2, 4, 6, 8, 10]

In [92]:
even_list2 = [i for i in numbers if i % 2 == 0]
print(even_list2)

[2, 4, 6, 8, 10]

In [102]:
# for문
words = 'my name is hong'
vowels = 'aeiou'

# => my nm s hng

name = []
for i in words:
    if i in vowels:
        continue
    else:
        name.append(i)

print(name)
print(''.join(name))

['m', 'y', ' ', 'n', 'm', ' ', 's', ' ', 'h', 'n', 'g']
my nm s hng

In [106]:
#2. list comprehension
name = [name for name in words if name not in vowels]
print(name)
print(''.join(name))

['m', 'y', ' ', 'n', 'm', ' ', 's', ' ', 'h', 'n', 'g']
my nm s hng

# 딕셔너리 메소드

In [133]:
info = {
    'name': 'yoonsoeng',
    'location': 'Incheon',
}

In [124]:
info['name'] = 'kim'
print(info)

{'name': 'kim', 'location': 'Incheon'}

In [134]:
# .pop()(key[, default])
print(info)
print(info.pop('name'))

print(info.pop('name', None))
print(info)

{'name': 'yoonsoeng', 'location': 'Incheon'}
yoonsoeng
None
{'location': 'Incheon'}

In [135]:
# .update()
info.update(name='park')
print(info)

{'location': 'Incheon', 'name': 'park'}

In [138]:
# .get(key, default)
print(info.get('name'))
print(info.get('phone')) #True False 처리 할거면 get 에러 처리할거면 info='key'
print(info.get('phone', '해당 키가 없습니다.'))

park
None
해당 키가 없습니다.

## dict comprehension

In [141]:
# for
# {1: 1, 2: 8 ...}
result = {}

numbers = range(1,11)
for number in numbers:
    result[number] = number**3

print(result)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

In [143]:
# comp
result2 = {number : number**3 for number in range(1, 11)}
print(result2)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

In [170]:
# 1. for문
dust = {
    '서울': 100,
    '대구': 30,
    '부산': 50,
    '광주': 80,
    '제주': 20,
}
# result = {value가 50 이상인 값만 추출}

result = {}

for key , value in dust.items():
    if value >= 50:
        result[key] = value

print(result)

{'서울': 100, '부산': 50, '광주': 80}
{'서울': 100, '부산': 50, '광주': 80}

In [168]:
# 2.comp
result2 = {k : v for k, v in dust.items() if v>=50}
print(result2)

{'서울': 100, '부산': 50, '광주': 80}

In [169]:
result2 = {k : '나쁨' for k, v in dust.items() if v>=50}
print(result2)

{'서울': '나쁨', '부산': '나쁨', '광주': '나쁨'}

# 세트 메소드

In [178]:
fruits = {'apple', 'banana', 'melon'}

In [179]:
# .add(x)
fruits.add('watermelon')
print(fruits)
fruits.add('watermelon') #하나의 데이터가 중복될 수 없다.
print(fruits)

{'melon', 'banana', 'apple', 'watermelon'}
{'melon', 'banana', 'apple', 'watermelon'}

In [180]:
# .update(set)
# fruits.update('grape')
# print(fruits)
fruits.update({'grape'}, {'oragne'})
print(fruits)

{'grape', 'banana', 'apple', 'watermelon', 'oragne', 'melon'}

In [181]:
# .remove(x)
fruits.remove('oragne')
print(fruits)

{'grape', 'banana', 'apple', 'watermelon', 'melon'}

In [183]:
# .pop()
fruits.pop()
print(fruits)

{'apple', 'watermelon', 'melon'}

### map, filter, zip

In [189]:
a = [1, 2, 3]
number_str = map(str, a)
print(list(number_str))
print(number_str)

['1', '2', '3']
<map object at 0x000001EBF13F4370>

In [191]:
def cube(x):
    return x**3

print(cube(5))
print(cube(10))

125
1000

In [192]:
result = []

for i in a:
    result.append(i**3)

print(result)

[1, 8, 27]

In [194]:
result2 = map(cube, a) #함수도 객체처럼 f에 넣을 수 있다. iterable한 a를 cube라는 함수를 통과한 값을 리턴한 것이다.
print(list(result2))

[1, 8, 27]

- filter(function, iterable)
   - filter에 들어가는 function은 T/F를 반환해야 한다.

In [200]:
def is_odd(x):
    if x % 2 == 1:
        return True
    else:
        return False

print(is_odd(5))
print(is_odd(10))

True
False

In [201]:
def is_odd(x):
   return bool(x % 2)

print(is_odd(5))
print(is_odd(10))

True
False

In [197]:
numbers = [1, 2, 3, 4, 5]

In [198]:
# for
result = []
for number in numbers:
    if is_odd(number):
        result.append(number)

print(result)

[1, 3, 5]

In [199]:
# filter
result2 = filter(is_odd, numbers)
print(list(result2))

[1, 3, 5]

In [202]:
a = [1, 2, 3]
b= [100, 200, 300]

In [203]:
result = zip(a, b) #각 순서에 맞는 인자를 tuple에 묶고 전체를 list에 묶는다.(**무조건 갯수가 다르면 작은 쪽에 맞춰서 실행. )
print(result)
print(list(result))

<zip object at 0x000001EBF0EE98C0>
[(1, 100), (2, 200), (3, 300)]